:root {
  --dark-blue-color: #0b1423;
  --dark-pink-color: #8d1c32;
  --pink-color: #ed2146;
  --logo-background-color: #0c1627;
  --Dosis-font: "Dosis", "sans-serif";
  --ZCOOL-font: "ZCOOL QingKe HuangYou", "sans-serif";
  --card-width: 70%;
  --card-height: 100%;
  --carousel-width: 100%;
  --carousel-height: 480px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: var(--Dosis-font);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: var(--ZCOOL-font);
}
